/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
line-height: 1;
body {
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*BAGIAN TUBUH INTI*/
body
{
    background-color: #eaeaea;
    color: #333;
}
/*BAGIAN TUBUH INTI*/


/*bagian tubuh*/
.container 
{
    box-sizing:inherit;
    width: 800px;
    background-color:#fff;
    margin:auto;
}
/* bagian tubuh */



/* bagian header */
.header 
{
    padding: 20px;
}
.header .judul
{
    margin-left:40px ;
}
.header ul li
{
    display: inline-block;
    margin-right: 20px;
}
.header ul li a
{
    color: salmon;
    text-decoration: none;
}
.header a:hover
{
    background-color: lightskyblue;
    padding: 5px;
    color: white;
}
/*BAGIAN HEADER*/


/*BAGIAN HERO*/
.hero
{
    height:250px;
    border-top:5px solid salmon; 
    border-bottom: 5px solid lightskyblue;
}
/* BAGIAN PENUTUP DARI HERO */



/* BAGIAN CONTENT */
.content
{
    padding-left: 40px;
}
.content .penulis
{
    font-size:11px ;
    font-family: arial;
    font-weight: bold;
    margin-top:-16px;
}
.content .penulis a
{
color: salmon;
text-decoration: none;
}
.content p
{
    margin-bottom: 20px;
}
/* BAGIAN PENUTUP DARI CONTENT */



/* Teknik mendownload anime */
.mediadownload ul li p a:hover
{
    color: white;
    background-color: lightslategrey;
    padding: 5px;
}

.mediadownload ul li p a
{
    text-decoration: none;
    color: salmon;
    padding-right: 10px;
}
/* Teknik mendownload anime */

/* COPYRIHT */
.footer
{
background-color: #333;
margin-left: -40px;
}
.footer .copy
{
    padding: 10px;
    color: #eaeaea;
    font-size: 14 px;
    text-align:center ;
}