.seluruh-bagian {
    width: 1200px;
    height: 1000px;
    display: inline-block;
    margin-left: 70px;
    border-radius: 20px;
    border: 10px greenyellow;

}

.bagian1 {
    padding-bottom: 15%;
    margin-left: 15px;
}


.bagian-content {
    background-color: rgb(199, 14, 107);
    border-radius: 20px;
}

.header {
    background-color: rgb(199, 14, 107);
    text-shadow: 3px 3px 4px grey;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 20px;
}

.teks-1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.teks-2 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 2px 3px grey;
    font-size: 100px;
    text-align: center;
    background-color: black;
    color: rgb(213, 226, 213);
    border-radius: 20px;
    margin: 100px;
}